<!DOCTYPE html>
<html>
 <head>
  <meta charset="UTF-8">
  <title>Basketball Team Signup</title>
 </head>
 <body>
 <h1>Create a Basketball Team!</h1>
 <form method = "POST" action = "/team" >
 <p>Team Name: <input type = "Text" name = name></p>
 <p>Coach: <input type = "Text" name = coach></p>
 <p>Point Guard: <input type = "Text" name = pg></p>
 <p>Shooting Guard: <input type = "Text" name = sg></p>
 <p>Small Forward: <input type = "Text" name = sf></p>
 <p>Power Forward: <input type = "Text" name = pf></p>
 <p>Center: <input type = "Text" name = c></p>
 <input type = "submit" value = "Submit">
 </form>
 </body>
</html>


